<div class="home-section">
  <div class="home-header">
    <div class="hamburger-menu">
      <input type="checkbox" id="checkbox-hamburger-menu" />
      <label class="label-hamburger-menu" for="checkbox-hamburger-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </label>
    </div>
    <div class="logo">

    </div>
    <img src="../../../../assets/img/logo-coink-lateral.svg" alt="">
  </div>
</div>
