.home-section {
  position: relative;
  background-color: #004b40;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
}

.home-section .home-header {
  height: 80px;
  display: flex;
  align-items: center;
}

.home-section .home-header .title {
  color: white;
  font-size: 35px;
}

.home-section .home-header .title {
  font-size: 26px;
  font-weight: 600;
}
