.header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 63px;
  line-height: 50px;
  background: #004b40 0% 0% no-repeat padding-box;
  opacity: 1;
}

.body {
  height: calc(100vh - 50px);
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

#sidebar {
  width: 300px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  overflow: hidden;
  transition: 0.5s;
  opacity: 1;
}

#content {
  padding: 20px;
  width: 100%;
  background: transparent;
}
