<div class="header">
  <app-admin-header></app-admin-header>
</div>

<div class="body">
  <div id="sidebar">
    <app-admin-sidebar></app-admin-sidebar>
  </div>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>
