.header{
  height: 50px;
  background: #004B40 0% 0% no-repeat padding-box;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.page-content{
  margin-top: 50px;
  min-height: calc(100vh - 100px);
}
