<div class="header">
  <img src="../../../assets/img/coink-text.png" alt="img-logo">
</div>
<div class="content-btn-hb">
  <button class="btn btn-ligth" (click)="toggleMenu()">
    <i class="fas fa-bars"></i>
  </button>
  <div class="title">
    <h4>BACKOFFICE</h4>
  </div>
</div>
