.header img {
  top: 15px;
  left: 69px;
  width: 119px;
  height: 40px;
  position: absolute;
}

.content-btn-hb {
  margin-left: 231px;
  display: inline-flex;
  text-align: center;
}

i {
  color: #fff;
  font-size: 27px;
  margin-top: 12px;
}

.title{
  margin: 0 auto;
}

.title > h4 {
  text-align: center;
  margin-top: 15px;
  color: #fff;
  margin-left: 50vh;
}
