<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Tarjetas visas Dispensadores</li>
      <li class="breadcrumb-item active" aria-current="page">Solicitud tarjetas</li>
    </ol>
  </nav>

  <div class="wrapper">
    <h3 class="text-green">SOLICITUD TARJETAS</h3>

    <div class="search-box">
      <div class="d-flex">
        <i class="fas fa-search search"></i>
        <span>Buscar</span>
      </div>
    </div>

    <form class="row g-3 mt-3" [formGroup]="form">
      <div class="col-md-4">
        <label for="inputUsuario" class="form-label">Usuario</label>
        <input type="text" class="form-control" formControlName="name" id="inputUsuario" placeholder="Juan">
      </div>
      <div class="col-md-4">
        <label for="inputFecha" class="form-label">Fechas</label>
        <input type="date" class="form-control" formControlName="create_date" id="inputFecha" placeholder="dia/mes/año">
      </div>
    </form>
    <div class="row mt-3">
      <div class="col-md-4 d-flex">
        <button type="button" class="btn btn-outline-secondary" (click)="filterClear()">Limpiar filtros</button>
        <div class="w-1">

        </div>
        <button type="button" class="btn btn-secondary" (click)="filterData()">Buscar</button>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12 mb-3">
      <button type="button" class="btn btn-outline-secondary  float-end">Solicitar tarjetas</button>
    </div>
    <div class="col-md-12">
      <table class="table">
        <thead class="table-green">
          <tr>
            <th>Nombre</th>
            <th>Especie</th>
            <th>Genero</th>
            <th>Estado</th>
            <th>Fecha creacion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td>{{item.name}}</td>
            <td>{{item.species}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.status == 'Alive' ? 'Activo' : 'No activo'}}</td>
            <td>{{item.created | date: "yyyy-MM-dd hh-mm-ss z" }}</td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <div *ngIf="infoData">
          <p class="float-left">Mostrando {{data.length }} de {{infoData.count}} Registros</p>

          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <a class="page-link"><i class="fas fa-arrow-left"></i></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#"><i class="fas fa-arrow-right"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
