/* You can add global styles to this file, and also import other style files */
/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.btn-secondary {
  background-color: #004b40 !important;
}

.table-green {
  background-color: #004b40 !important;
  color: #ffffff;
}

.text-green {
  color: #004b40;
}
