.content-avatar {
  top: 0px;
  left: 0px;
  width: 242px;
  height: 223px;
  opacity: 1;
}

ol,
ul {
  padding-left: 0;
}

.content-avatar .avatar {
  top: 94px;
  left: 77px;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 100%;
  background: #d1fbd9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 8px #00000029;
  opacity: 1;
}

.content-item-list {
  padding: 10px;
}

.avatar-name{
  margin-top: 100px;
  margin-left: 25px;
}

li {
  list-style-type: none;
  line-height: 26px;
  letter-spacing: 0.1pt;

  a {
    color: #ffffff;
    padding: 7px 0 6px 20px;
    text-decoration: none;
    cursor: pointer;
    display: block;
  }

  &:hover {
    color: #ffffff;
  }
}

.item {
  top: 276px;
  left: 53px;
  width: 134px;
  height: 42px;
  text-align: left;
  font: normal normal 900 16px/21px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
