<div class="sidebar-list">
  <div class="content-avatar">
    <div class="avatar">
      <div class="avatar-name">
        <i class="fas fa-lock"></i>
        <span>Jeff</span>
      </div>
    </div>
  </div>
  <ul>
    <li *ngFor="let items of menu; let i = index">
      <div class="content-item-list" [ngStyle]="{'background-color': items.active ? '#004B40' : ''}">
        <a href="#" class="item-list">
          <span class="item" [ngStyle]="{'color': items.active ? '' : '#004B40'}">{{items.linkText}}</span>
        </a>

        <div class="sub-menu">
          <ul *ngFor="let m of menu[i].submenu">
            <li>
              <a [routerLink]="m.link">{{ m.childtext }}</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
